@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);

    --color-primary-hover: 101 15 65;
    --color-on-primary: 249 250 252;

    --color-primary-100: 251 225 236;
    --color-primary-200: 233 175 208;
    --color-primary-300: 232 140 186;
    --color-primary-400: 233 73 154;
    --color-primary-500: 237 12 122;
    --color-primary-600: 179 31 104;
    --color-primary-700: 127 27 84;
    --color-primary-800: 101 15 65;
    --color-primary-900: 48 16 31;
    --color-primary-gradient: 237 12 122;

    --color-on-gradient: 249 250 252;

    --color-secondary-100: 238 215 232;
    --color-secondary-200: 199 164 205;
    --color-secondary-300: 168 117 179;
    --color-secondary-400: 105 83 139;
    --color-secondary-500: 90 45 135;
    --color-secondary-600: 60 43 114;
    --color-secondary-700: 46 31 85;
    --color-secondary-800: 23 18 45;
    --color-secondary-900: 20 15 25;
    --color-secondary-gradient: 90 45 135;

    --color-success: 65 183 86;
    --color-warning: 250 164 26;
    --color-danger: 231 47 69;

    --color-muted: 93 97 101;
    --color-on-muted: 249 250 252;

    --color-background: 249 250 252;

    --color-surface: 249 250 252;

    --color-paragraph: 15 15 19;
    --color-paragraph-variant: 93 97 101;
  }

  .dark {
    --rsbs-bg: #0f0f13;
    --color-primary-hover: 101 15 65;
    --color-on-primary: 249 250 252;
    --color-muted: 93 97 101;
    --color-on-muted: 249 250 252;

    --color-on-gradient: 249 250 252;

    --color-background: 15 15 19;

    --color-surface: 15 15 19;

    --color-paragraph: 249 250 252;
    --color-paragraph-variant: 93 97 101;
    --color-paragraph: 249 250 252;
    --color-paragraph-variant: 93 97 101;
  }
}

html,
body {
  @apply bg-background text-paragraph;
}

.transition-smooth {
  @apply transition;
  @apply ease-in-out;
  @apply duration-300;
}

.clickable {
  @apply transition;
  @apply ease-in-out;
  @apply duration-300;
  @apply cursor-pointer;
}

input,
.input,
button {
  outline: none !important;
  @apply outline-none focus:outline-none active:outline-none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  @apply !fixed h-1 w-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-lg bg-background;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary-500;
}

.clickable {
  @apply transition;
  @apply ease-in-out;
  @apply duration-300;
  @apply cursor-pointer;
}

.input {
  @apply w-full rounded-md border border-paragraph bg-surface px-2.5 py-1 text-xs text-paragraph !outline-none transition-all duration-300 ease-in-out placeholder:text-paragraph-variant;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
